<script>
  var months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
</script>
<% 
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
%> 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= request.maiURL%>">File Sharer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= request.mainURL%> ">Home</a>
          </li>
          
          <li class="nav-item">
            <% if(request.isLogin) {%>
              <a href="<%= request.mainURL%>/MyUploads/<%= request.session.user._id %>" class="nav-link">My Uploads</a> 
            <%}else{%>
              <a href="<%= request.mainURL%>/MyUploads" class="nav-link">My Uploads</a> 
            <% } %>  
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="<%= request.mainURL %>/Favourites">Favourites</a>
          </li>
          
          <% if(request.isLogin){%>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <%= request.session.user.name %> 
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="<%= request.mainURL%>/Logout">Logout</a></li>
              </ul>
            </li>

          <% }else{ %> 
            <li class="nav-item">
                <a href="<%= request.mainURL%>/Login " class="nav-link">Login</a>
            </li>

            <li class="nav-item">
                <a href="<%= request.mainURL%>/Register " class="nav-link">Register</a>
            </li>
          <% } %> 
        </ul>
      </div>
    </div>
  </nav>