
<div class="container flex-grow" >
    <%- include('./partials/ResponseAlert',{
        "request":request
    }) %> 
    
    
        <% if(request.isLogin) {%> 
            <div class="grid">
            <% if(request.user.uploads!= ''){%>
                <% for (i = request.user.uploads.length-1; i>=0; i -=1) { %>
                <figure class="effect-zoe">
                    <a href="#" class="pop">
                    <img src="<%= request.user.uploads[i].secureURL %>" alt="img26" class="shadow-lg rounded max-w-full h-auto align-middle border-none"/>
                    </a>
                    <% if(request.user.uploads[i].isFav){%> 
                    <div class="top">
                        <button class="btn" style="border:None"><i class="fa fa-heart fa-2x red"></i></button>
                        
                    </div>
                    <% } %> 
                    <figcaption>
                        
                        <div class="icon-links">
                            <!--DELETEE-->
                            <form method="POST" action="uploads/delete/<%= request.user.uploads[i].cloudinary_id%>/<%= request.user._id%>?_method=DELETE">
                                <button class="btn" style="border:None"><i class="fa fa-trash fa-2x"></i></button>
                                
                            </form>
                            
                            <!--SHARE-->
                            <input type="text" value="<%= request.user.uploads[i].secureURL%>" id="<%= request.user.uploads[i]._id %>" style="display:none">   

                            <button class="btn trigger" style="border:None" onclick="copylink('<%= request.user.uploads[i]._id %>')" data-toggle="tooltip" title="Copy Link!"><i class="fa fa-share-alt fa-2x"></i></button>
                            

                            <!--DOWNLOAD-->
                            <a href="<%= request.user.uploads[i].secureURL%>" target="_blank">
                                <button class="btn" style="border:None"><i class="fa fa-cloud-download fa-2x"></i></button>
                            </a>
                            
                            <!--FAVOURITE-->
                            <form method="POST" action="uploads/favourite/<%= request.user.uploads[i].cloudinary_id%>">
                                <% if(!request.user.uploads[i].isFav){%> 
                                <button class="btn" style="border:None"><i class="fa fa-heart fa-2x"></i></button>
                                <% }else{%>
                                <button class="btn" style="border:None"><i class="fa fa-heart fa-2x red"></i></button>
                                <% } %> 
                            </form>
                            
                            
                        </div>
                    </figcaption>	
                </figure>
                <% } %> 
            <% }else{%>
                <hr>
                <h3>No Image Found</h3>
            <% } %>  
        <% }else{%>  
            <div class="py-8">
                <div class="container m-auto px-6">
                    
                 <div class="lg:flex justify-between items-center">
                     <div class="lg:w-6/12 lg:p-0 p-7">
                        <h1 class="text-4xl font-bold leading-tight mb-5 capitalize">  Save your memories. </h1>
                        <p class="text-xl">  With Photoos you can save your photos in cloud which keeps your memories safe too. </p>
              
                        <div class="py-5">
                             <a href="<%= request.mainURL%>/Login " class="text-white rounded-full py-2 px-5 text-lg font-semibold bg-red-500 hover:bg-red-700 inline-block border border-purple-600 mr-3">Login</a>
                             <a href="<%= request.mainnURL%>/Register " class="text-white rounded-full py-2 px-5 text-lg font-semibold bg-gray-800 inline-block border hover:bg-black hover:text-white">Register</a>
                        </div>
              
                      </div>
                      <div class="lg:w-6/12 order-2">
                        <img src="/public/uploads/icons/front.png"
                        style="transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);" alt="" class="rounded">
                      </div>
                  </div>
              
                </div>
              </div>



        <% } %> 
    </div>
    
    


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>             
        <div class="modal-body" style="background: #fff;">
          <img src="" class="imagepreview" style="width: 100%;" >
        </div>
      </div>
    </div>
  </div>

</div>